*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #ccc;
    background: linear-gradient(to right, rgba(0, 4, 40, .9), rgba(7, 39, 67, 0.5)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

header {
    position: relative;
    height: 60vh;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 30%;
    lefT: 50%;
    transform: translate(-50%, -10%);
}

#profile {
    width: 10rem;
    border-radius: 50%;
    margin: 0 0 1.5rem 12rem;
}

.hero > h1 {
    font-size: 5rem;
    font-weight: 100;
}

.hero > h3 {
    font-size: 2.4rem;
    font-weight: 200;
    text-align: right;
    border-bottom: 1px solid #ccc;
}

.hero h1, .hero h3 {
    text-shadow: 0px 5px 15px #222;
}

main {
    display: flex;
    width: 80%;
    margin-left: 25%;
    padding-bottom: 8rem;
}

main div {
    margin: 0 10rem;
}

main div h2 {
    font-size: 1.6rem;
    font-weight: 200;
}

.skills p {
    padding: .8rem;
}

table tr td {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

.basic-info {
    width: 80%;
    margin-left: 27%;
}

.basic-info > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 1rem;
    /* justify-content: space-evenly; */
}

.basic-info ul li {
    list-style: none;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.basic-info ul li > a:link,
.basic-info ul li > a:visited,
table tr td a, .pro {
    text-decoration: none;
    color: #ccc;
    padding-left: .5rem;
    transition: all .3s ease;
}

.basic-info ul li > a:hover, .pro:hover {
    color: #777;
}

/* media queries */

@media only screen and (max-width: 1200px) {
    header {
        height: 50vh;
    }

    main {
        margin-left: 20%;
        padding-bottom: 7rem;
    }

    .basic-info {
        margin-left: 23%;
    }
} 

@media only screen and (max-width: 1024px) {
    main {
        margin-left: 25%;
    }

    main div {
        margin: 0 6rem;
    }

    .basic-info {
        margin-left: 20%;
    }
}

@media only screen and (max-width: 967px) {
    header {
        height: 46vh;
    }

    main {
        margin-left: 22%;
        padding-bottom: 6rem;
    }

    .basic-info {
        margin-left: 19%;
    }
}


@media only screen and (max-width: 800px) {
    main {
        margin-left: 17%;
    }

    .basic-info {
        margin-left: 12%;
    }

}

@media only screen and (max-width: 768px) {
    main {
        margin-left: 15%;
    }

    main div {
        margin: 0 6rem;
    }

    .basic-info {
        margin-left: 12%;
    }

    .basic-info ul li {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 640px) {
    header {
        height: 38vh;
    }

    #profile {
        width: 8rem;
    }

    .hero > h1 {
        font-size: 4rem;
    }

    .basic-info {
        margin-left: 1%;
        width: 98%;
    }
}

@media only screen and (max-width: 587px) {
    header {
        height: 32vh;
    }

    #profile {
        width: 6rem;
        margin-left: 9rem;
    }

    .hero > h1 {
        font-size: 3rem;
    }

    .hero > h3 {
        font-size: 1.8rem;
    }

    main {
        margin-left: 19%;
    }

    main div {
        margin: 0 2rem;
    }

    .basic-info::before {
        font-size: 1.6rem;
        font-weight: 200;
        color: #ccc;
        content: 'Contact Me';
        margin-left: 9rem;
    }

    .basic-info ul {
        flex-direction: column;
        margin-left: 7rem;
        margin-top: 1rem;
    }

    .basic-info ul li {
        padding: .3rem 0;
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 22vh;
    }

    .hero {
        top: 20%;
    }

    #profile {
        width: 7rem;
        margin: 0 0 1.5rem 7rem;
    }

    .hero > h1 {
        font-size: 3rem;
    }

    .hero > h3 {
        font-size: 1.6rem;
    }

    main {
        flex-direction: column;
        margin-left: 12%;
    }

    main div {
        margin: 0 0 0 6rem;
    }

    main div h2 {
        margin-left: 1rem;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }

    .skills p {
        display: inline-block;
    }

    /* .basic-info::before {
        font-size: 1.6rem;
        font-weight: 200;
        color: #ccc;
        content: 'Contact Me';
        margin-left: 7rem;
    } */

    /* .basic-info ul {
        flex-direction: column;
        margin-left: 5rem;
        margin-top: 1rem;
    }

    .basic-info ul li {
        padding: .3rem 0;
    } */
}

@media only screen and (max-width: 468px) {
    footer { margin-left: 5%; }
}

@media only screen and (max-width: 415px) {
    main {
        margin-left: 9%;
    }

    footer {
        margin-left: 1%;
    }
}

@media only screen and (max-width: 320px) {
    #profile {
        width: 5rem;
        margin: 0 0 1.5rem 6rem;
    }

    .hero > h1 {
        font-size: 2.3rem;
    }

    .hero > h3 {
        font-size: 1.4rem;
    }

    main {
        flex-direction: column;
        margin-left: 4%;
    }

    footer {
        margin-left: 10%;
    }

    .basic-info::before {
        font-size: 1.6rem;
        font-weight: 200;
        color: #ccc;
        content: 'Contact Me';
        margin-left: 4rem;
    }

    .basic-info ul {
        flex-direction: column;
        margin-left: 2rem;
        margin-top: 1rem;
    }
}



/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */