// Color Palette Variables
$color-primary: #111d5e;
$color-primary-2: #143f6b;
$color-primary-3: #002366;
$color-primary-rgb: rgba(17, 29, 94, 0.907);
$color-secondary: #f37121;
$color-secondary-rgb: 199, 0, 57;
$color-tertiary: #c70039;
$color-tertiary-rgb: 243, 113, 33;
$color-complement: #c0e218;
$color-complement-rgb: 192, 226, 24;
$color-text-1: #eef2ff;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
