*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: $color-primary-0;
}

h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: $color-heading-1;
}

p,
span {
  color: $color-text-1;
  font-size: 1.2rem;
}

p {
  line-height: 2.3rem;
  font-size: 1.4rem;
}

section {
  padding: 4rem 0;
}

li {
  list-style: none;
}

a {
  color: $color-heading-1;
  text-decoration: none;
}
