*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

@media only screen and (min-width: $bp-medium) {
  html {
    font-size: 65.5%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: $color-primary-0;
  margin-top: 4rem;
  width: 80%;
}

main {
  z-index: 10;
}

h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: $color-heading-1;
}

p,
span {
  color: $color-text-1;
  font-size: 1.2rem;
}

p {
  line-height: 2.3rem;
  font-size: 1.4rem;
}

@media only screen and (min-width: $bp-smallest) {
  section {
    padding: 4rem 0 4rem 2rem;
  }

  footer {
    padding-left: 2rem;
  }
}
@media only screen and (min-width: $bp-small-1) {
  section,
  footer {
    padding-left: 4rem;
  }
}
@media only screen and (min-width: $bp-medium) {
  section,
  footer {
    padding-left: 6rem;
  }
}
@media only screen and (min-width: $bp-large-2) {
  section,
  footer {
    padding-left: 20rem;
  }
}

li {
  list-style: none;
}

a {
  color: $color-heading-1;
  text-decoration: none;
}
