@media only screen and (min-width: $bp-smallest) {
  .section--about {
    .about--info {
      &__skills-title {
        font-size: 2.3rem;
        padding: 3rem 0 1rem 0;
      }

      &__skills {
        display: flex;
        padding: 1rem 0;
        h3 {
          font-size: 2rem;
          padding: 2rem 0;
        }

        &-front,
        &-back,
        &-other {
          padding: 0 1rem;

          h4 {
            font-size: 1.3rem;
            padding-bottom: 0.5rem;
          }

          li {
            padding: 0.5rem 0;
          }

          li > img {
            width: 7rem;
            height: 5rem;
          }

          .express {
            color: white;
            font-size: 7rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $bp-small-1) {
  .about--info__skills {
    justify-content: space-around;
    .about--info__skills-front,
    .about--info__skills-back,
    .about--info__skills-other {
      padding: 0 3rem;
    }
  }
}

@media only screen and (min-width: $bp-medium) {
  .about--info__skills {
    .about--info__skills-front,
    .about--info__skills-back,
    .about--info__skills-other {
      h4 {
        font-size: 1.8rem;
        padding-bottom: 1rem;
      }

      li > img {
        width: 10rem;
        height: 7rem;
      }

      .express {
        font-size: 10rem;
      }
    }
  }
}
