.section--home {
  .dev--info {
    &__name {
      @include highlightedText;
      font-size: 3.2rem;
      padding: 2rem 0 1rem 0;
      display: flex;
      justify-content: center;
      font-weight: 400;
    }

    &__role {
      font-size: 1.4rem;
      width: 70%;
      margin-left: 15%;
      font-weight: 300;
      font-style: italic;
      color: $color-text-1;

      &-bg {
        @include highlightedText;
        font-size: 1.7rem;
      }
    }

    &__name,
    &__role {
      font-family: 'Rubik', sans-serif;
    }
  }
}
