@media only screen and (min-width: $bp-smallest) {
  .section--projects {
    padding-left: 2rem;
  }

  .projects {
    &--text {
      a {
        border-bottom: 1px solid $color-heading-1;
      }
    }

    &--container {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;
      &__wrap {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        padding: 3rem 1rem;
        margin: 2rem 0;
        transition: all 0.3s ease;
        box-shadow: 0 2px 15px rgba(199, 0, 57, 0.6),
          0 -2px 15px rgba(153, 0, 240, 0.6);

        h3 {
          font-size: 1.7rem;
        }

        span {
          font-size: 1.2rem;
        }

        ul {
          display: flex;
          justify-content: end;
        }

        li {
          padding: 0 0.3rem;

          a {
            font-size: 1.8rem;
            opacity: 0.5;
            transition: all 0.3s ease;
          }
          a:hover {
            opacity: 1;
          }
        }

        h3,
        span,
        ul {
          padding: 0.4rem 0;
        }
      }
      &__wrap:hover {
        box-shadow: 2px 0 15px rgba(199, 0, 57, 0.8),
          -2px 0 15px rgba(153, 0, 240, 0.8);
      }
    }
  }
}
