@media only screen and (min-width: $bp-smallest) {
  .nav {
    display: flex;
    justify-content: space-around;
    position: relative;

    .nav--hamburger {
      display: flex;
      flex-direction: column;
      padding: 6px 6rem;
      cursor: pointer;
      margin-left: -20%;
    }

    .bar1,
    .bar2,
    .bar3 {
      background-color: #dddbdb;
      display: block;
      width: 2rem;
      height: 1px;
      margin: 3px 0;
      transition: all 0.3s ease;
    }

    .nav--sections {
      display: none;
    }

    .nav--links {
      display: flex;
      font-size: 2.1rem;

      &__link {
        padding: 0 0.5rem;
        cursor: pointer;
        transition: all 0.4s ease;
        border: 2px solid transparent;
        margin: 0 0.2rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
      }

      &__link:hover {
        border-color: $color-secondary;
      }
    }
  }

  .nav::after {
    @include separator-line;
  }
}

@media only screen and (min-width: $bp-medium) {
  .nav {
    justify-content: space-between;
    padding-left: 10%;
    .nav--hamburger {
      display: none;
    }
    .nav--sections {
      display: flex;

      &__link {
        padding: 0.6rem 2rem 0 2rem;

        a > span {
          font-size: 1.6rem;
          color: $color-text-1;
          transition: all 0.4s ease;
        }

        a > span:hover {
          color: $color-heading-1;
        }
      }
    }
  }
}
