@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Rubik:ital,wght@0,400;0,500;1,300&family=Ubuntu:wght@300;400;500&display=swap");
@font-face {
  font-family: "Montserrat";
  src: "../../../assets/fonts/Montserrat-VariableFont_wght.ttf" format("truetype");
}
@media only screen and (min-width: 18.75em) {
  body {
    margin-top: 4rem;
    width: 80%;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .nav .nav--hamburger {
    display: flex;
    flex-direction: column;
    padding: 4px 8rem;
    cursor: pointer;
    margin-left: -20%;
  }
  .nav .bar1,
.nav .bar2,
.nav .bar3 {
    background-color: #dddbdb;
    display: block;
    width: 2.5rem;
    height: 1px;
    margin: 3px 0;
  }
  .nav .nav--sections {
    display: none;
  }
  .nav .nav--links {
    display: flex;
    font-size: 2.1rem;
    margin-top: 5px;
  }
  .nav .nav--links__link {
    padding: 0 0.5rem;
    cursor: pointer;
  }

  .nav::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    top: 180%;
    left: 10%;
    box-shadow: 1px 1px 1px #555;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #041c32;
}

h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #eef2ff;
}

section {
  padding: 4rem 0;
}

li {
  list-style: none;
}

a {
  color: #9ca3af;
  text-decoration: none;
}

.section--home .dev--info__name {
  background-image: linear-gradient(to right, #f37121, #c70039);
  background-clip: text;
  box-decoration-break: clone;
  color: transparent;
  text-shadow: 0 5px 10px #111d5e;
  font-size: 3.2rem;
  padding: 2rem 0 1rem 0;
  display: flex;
  justify-content: center;
  font-weight: 400;
}
.section--home .dev--info__role {
  font-size: 1.4rem;
  width: 70%;
  margin-left: 15%;
  font-weight: 300;
  font-style: italic;
  color: #9ca3af;
}
.section--home .dev--info__role-bg {
  background-image: linear-gradient(to right, #f37121, #c70039);
  background-clip: text;
  box-decoration-break: clone;
  color: transparent;
  text-shadow: 0 5px 10px #111d5e;
  font-size: 1.7rem;
}
.section--home .dev--info__name, .section--home .dev--info__role {
  font-family: "Rubik", sans-serif;
}

.section--about {
  padding-left: 2rem;
}
.section--about .about--title {
  font-size: 3rem;
  display: flex;
  padding-bottom: 2rem;
}
.section--about .about--info__text {
  font-size: 1.4rem;
  color: #9ca3af;
  line-height: 2.3rem;
}
.section--about .about--info__skills-title {
  font-size: 2.3rem;
  padding: 3rem 0 1rem 0;
}
.section--about .about--info__skills {
  display: flex;
  padding: 1rem 0;
}
.section--about .about--info__skills h3 {
  font-size: 2rem;
  padding: 2rem 0;
}
.section--about .about--info__skills-front, .section--about .about--info__skills-back, .section--about .about--info__skills-other {
  padding: 0 1rem;
}
.section--about .about--info__skills-front h4, .section--about .about--info__skills-back h4, .section--about .about--info__skills-other h4 {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
.section--about .about--info__skills-front li, .section--about .about--info__skills-back li, .section--about .about--info__skills-other li {
  padding: 0.5rem 0;
}
.section--about .about--info__skills-front li > img, .section--about .about--info__skills-back li > img, .section--about .about--info__skills-other li > img {
  width: 7rem;
  height: 5rem;
}
.section--about .about--info__skills-front .express, .section--about .about--info__skills-back .express, .section--about .about--info__skills-other .express {
  fill: #eef2ff;
}

/*# sourceMappingURL=output.css.map */
